.bg_image {
    background: linear-gradient(
            rgba(58, 141, 255, 0.85),
            rgba(134, 185, 255, 0.85)
        ),
        url('../../assets/bg-img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    height: 100vh;
}

.bubble {
    position: absolute;
}
.bg_text {
    max-width: 55%;
}

/*  */
.root {
    flex-grow: 1;
    /* overflow-y: hidden; */
}
.paper {
    margin: auto;
}
.image {
    width: 100%;
    height: 100vh;
}
.img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 0% 0%;
}

.right {
    max-height: 100vh;
}
.account {
    margin: 24px 30px;
}
.account_text {
    margin-right: 25px;
}

.button {
    width: 170px !important ;
    padding: 15px 30px !important;
    color: #3a8dff !important;
    background: #fff !important;
    box-shadow: 0px 2px 6px rgba(74, 106, 149, 0.2);
    filter: drop-shadow(0px 2px 6px rgba(74, 106, 149, 0.2));
}
.authBtn {
    padding: 15px 30px !important;
    color: #fff !important;
    background: #3a8dff !important;
    width: 170px;
    margin-top: 50px !important;
}

.input {
    width: calc((100vw / 2) - 80px);
    margin-top: 40px !important;
}
.input_firstchild {
    margin-top: 2px !important;
}
.login {
    padding: inherit;
}

@media only screen and (max-width: 1010px) {
    .bg_text {
        max-width: 70%;
    }
}
@media only screen and (max-width: 600px) {
    .bg_image {
        height: 60vh;
    }
    .bubble {
        position: relative;
    }
    .bg_text {
        max-width: 75%;
    }
    .right {
        min-height: 100vh !important;
        /* margin-bottom: 50px; */
    }
    .account {
        /* margin: 24px 10px; */
        margin: 10px 15px !important;
    }
    .account_text {
        margin-right: 10px;
    }
    .button {
        font-size: small;
        width: auto !important;
        padding: 10px 15px !important;
    }
    .login {
        padding: 10px 50px !important;
    }
    .input {
        width: 80vw;
    }
}

@media only screen and (max-width: 345px) {
    .account {
        margin: 10px 15px !important;
    }
    .account_text {
        font-size: smaller;
    }
    .bg_text {
        font-size: 20px !important;
    }
    .login {
        padding: 10px 45px !important;
    }
}
